.container{
    /* padding: 2px 16px; */
     /* border: 0 4px 30px ;  */
    /* transition: 0.3s; */
    width: 70%;
   

}

body {
    background-color: #ECF0F1;
  }
  
  .page-login {
    margin-top: 25px;
  }